In [12]:
import pandas as pd
import numpy as np
import datetime as dt
import matplotlib.pyplot as plt
from googlefinance.client import get_price_data
%matplotlib inline

<h3> Read Data</h3><br>

In [15]:
param_GE = {'q': "GE",'x': "NYSE","p" : "1Y",'i': "86400"}
param_F = {'q': "F",'x': "NYSE","p" : "1Y",'i': "86400"}

In [16]:
df_F = get_price_data(param_F)

In [17]:
df_GE = get_price_data(param_GE)

In [18]:
df_GE.head()

                      Open    High     Low  Close    Volume
2017-04-03 22:00:00  29.76  30.000  29.745  29.88  29912275
2017-04-04 22:00:00  29.90  30.090  29.700  30.02  25057168
2017-04-05 22:00:00  30.09  30.420  29.950  29.97  25837471
2017-04-06 22:00:00  30.00  30.175  29.920  29.93  21549950
2017-04-07 22:00:00  29.92  30.190  29.920  29.99  18975740

Always inspect the data

In [ ]:
df_GE.head()

In [ ]:
df_GE.tail()

<h3>Add A Column </h3><br>
Containing difference between open en closing price

In [ ]:
df_GE['Range']=df_GE['Open']-df_GE['Close']
df_GE.head()

Calculate absolute value of the difference

In [ ]:
df_GE['AbsRange'] = df_GE['Range'].apply(lambda x: np.abs(x))
df_GE.head()

<h3>Sorting the results</h3>

In [ ]:
df_GE.sort_values(by='AbsRange',inplace=True,ascending=False)
df_GE.head()

<h3> Boolean Indexing </h3>
Find the dates where the difference is > 60 Cents

In [ ]:
idx = df_GE['AbsRange']>0.6
df_GE.loc[idx,:]

<h3>Comparing with Ford<h3>

In [ ]:
df_GE = web.DataReader("GE", 'google')
df_F = web.DataReader("NYSE:F", 'google')
df = pd.concat([df_GE['Close'],df_F['Close']],axis=1)
df.columns = ['GE','F']
df.head()

Calculate the difference between the return of GE and F

In [ ]:
df_ret = df.pct_change(periods=1)
df_ret['Diff']= df_ret['GE']-df_ret['F']
df_ret['Diff']=df_ret['Diff'].apply(lambda x : np.abs(x))
df_ret.head()

<h3>Graph</h3>

In [ ]:
df.plot();